<nav class="navbar navbar-inverse ">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="#james"><%= image_tag("j_tron_labs_logo.png", class:"navbar-icon")%></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <!--
        <li><a href="#me">Me</a></li>
-->
        <li><a href="#my_companies">Companies<span class="sr-only">(current)</span></a></li>
        <li><a href="#my_projects">Projects<span class="sr-only">(current)</span></a></li>
        
      </ul>
        
      <ul class="nav navbar-nav navbar-right"> 
          <!--
            <li><%= link_to image_tag("mail-icon.png", class:"navbar-icon"),'mailto:jtronlabs@gmail.com?Subject=Hello!' %></li>
            <li><%= link_to image_tag("reddit-icon.png", class:"navbar-icon"),'https://www.reddit.com/user/jtronlabs' %></li>
            -->
          
            <li><%= link_to image_tag("github_icon_white.png", class:"navbar-icon"),'https://github.com/jtronlabs' %></li>
            <li><%= link_to image_tag("linkedin_icon.png", class:"navbar-icon"),'https://www.linkedin.com/in/jameslowrey2' %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>