<% 
#set default values for optional arugments
description = "" unless defined? description
%>

<div class="project col-lg-3">

    <div class="project_image">
        <%= link_to image_tag(project_image_location),primary_link %>
    </div>
    
    <div class="project_info">
        <h3><%= title %></h3>
        <p><%= description %></p>
    </div>
    
    <%= if defined? github_link
        link_to image_tag("github_icon_black.png", class:"link_image"),github_link
    end %>
    <%= if defined? android_link
        link_to image_tag("Google-Play-Store-icon.png", class:"link_image"),android_link
    end %>
    <%= if defined? website_link
link_to image_tag("website-icon.png", class:"link_image"),website_link
    end %>
    
</div>