<% 
#set default values for optional arugments
description = "" unless defined? description
%>

<div class="project col-lg-3">

    <%= image_tag(project_image_location, class:"project_image") %>
    <div class="project_info">
        <h5><%= title %></h5>
        <p><%= description %></p>
    </div>
    
    <%= if defined? github_link
        link_to image_tag("github_icon.png", class:"link_image"),github_link
    end %>
    <%= if defined? android_link
        link_to image_tag("Google-Play-Store-icon.png", class:"link_image"),android_link
    end %>
    <%= if defined? website_link
link_to image_tag("website-icon.png", class:"link_image"),website_link
    end %>
    
</div>