---
css_page: index
---

<div id="james">
    
    <%= partial "layouts/nav_bar" %>
    
    <div id="index_intro">
        <h1>James Lowrey</h1>
        <h2>Developer</h2>
        <%= image_tag("left.jpg") %>
        <%= image_tag("mid.jpg") %>
        <%= image_tag("right.jpg") %>
    </div>
</div>

<span id="me"></span>
<div class="row index_row" id="about_me">
    <div class="container">
        <h1>About Me</h1>
        <h3>Striving to do three things</h3>
        <%= partial 'layouts/about_me', locals:{
            about_me_image_location: "code.png",
            title: "Code"} %>
        <%= partial 'layouts/about_me', locals:{
            about_me_image_location: "learn-icon.png",
            title: "Learn"} %>
        <%= partial 'layouts/about_me', locals:{
            about_me_image_location: "grow.png",
            title: "Grow"} %>
    </div>
</div>


<span id="my_companies"></span>
<div class="row index_row" id="companies">
        <h1>Companies</h1>
        <%= partial 'layouts/company', locals:{
            company_image_location: "netapp-logo.png",
            title: "Netapp",
            description: "Engineering driver solutions for improved server technology."} %>

        <%= partial 'layouts/company', locals:{
            company_image_location: "Baker_Hughes_Logo.png",
            title: "Baker Hughes",
            description: "Automated testing, Agile Practices, and Web design."} %>


        <%= partial 'layouts/company', locals:{
            company_image_location: "ohio-state-logo.jpeg",
            title: "Ohio State University",
            description: "Tutored students in graph theory and algorithm analysis."} %>

</div>

<span id="my_projects"></span>
<div class="row index_row" id="individual_project">
    <h1>Individual Projects</h1>
    
    <%= partial 'layouts/project', locals:{
        project_image_location: "JASIG.png",
        title: "JASIG",
        github_link:"https://github.com/JTronLabs/Space-Shooter-Android",
        android_link:"https://play.google.com/store/apps/details?id=com.jtronlabs.space_shooter"} %>
    
    <%= partial 'layouts/project', locals:{
        project_image_location: "crash_boom_bop.png",
        title: "Crash Boom Bop",
        github_link: "https://github.com/JTronLabs/CrashBoomBop",
        android_link:"https://play.google.com/store/apps/details?id=com.jtronlabs.crash_boom_bop_free"} %>
    
    <%= partial 'layouts/project', locals:{
        project_image_location: "fun_groups.png",
        title: "Fun Groups!",
        github_link: "https://github.com/JTronLabs/FunGroups",
        android_link:"https://play.google.com/store/apps/details?id=com.jtronlabs.fun_groups"} %>
    
    <%= partial 'layouts/project', locals:{
        project_image_location: "uact.png",
        title: "UACT",
        github_link: "https://github.com/JTronLabs/UACT",} %>
    
    <%= partial 'layouts/project', locals:{
        project_image_location: "buddy.jpg",
        title: "This Website",
        github_link:"https://github.com/JTronLabs/JTronLabs.github.io",
        website_link:"http://jtronlabs.github.io/"} %>
</div>
