---
css_page: index
---

<div id="james">
    
    <%= partial "layouts/nav_bar" %>
    
    <div id="index_top">
        <h1>James Lowrey</h1>
        <h5>Developer</h5>
    </div>
</div>

<div class="row" id="about_me">
    <div class="container">
        <h1>About Me</h1>
        <p>Striving to do three things</p>
        <%= partial 'layouts/about_me', locals:{
            about_me_image_location: "code.png",
            title: "Code"} %>
        <%= partial 'layouts/about_me', locals:{
            about_me_image_location: "learn-icon.png",
            title: "Learn"} %>
        <%= partial 'layouts/about_me', locals:{
            about_me_image_location: "grow.png",
            title: "Grow"} %>
    </div>
</div>

<div class="row" id="individual_project">
    <h1>Individual Projects</h1>
    
    <%= partial 'layouts/project', locals:{
        project_image_location: "JASIG.png",
        title: "JASIG",
        github_link:"https://github.com/JTronLabs/Space-Shooter-Android",
        android_link:"https://play.google.com/store/apps/details?id=com.jtronlabs.space_shooter"} %>
    
    <%= partial 'layouts/project', locals:{
        project_image_location: "crash_boom_bop.png",
        title: "Crash Boom Bop",
        github_link: "https://github.com/JTronLabs/CrashBoomBop",
        android_link:"https://play.google.com/store/apps/details?id=com.jtronlabs.crash_boom_bop_free"} %>
    
    <%= partial 'layouts/project', locals:{
        project_image_location: "fun_groups.png",
        title: "Fun Groups!",
        github_link: "https://github.com/JTronLabs/FunGroups",
        android_link:"https://play.google.com/store/apps/details?id=com.jtronlabs.fun_groups"} %>
    
    <%= partial 'layouts/project', locals:{
        project_image_location: "uact.png",
        title: "UACT",
        github_link: "https://github.com/JTronLabs/UACT",} %>
    
    <%= partial 'layouts/project', locals:{
        project_image_location: "buddy.jpg",
        title: "This Website",
        github_link:"https://github.com/JTronLabs/JTronLabs.github.io",
        website_link:"http://jtronlabs.github.io/"} %>
</div>
